:root{
    --color-acentuado: blue;
}
.cuerpo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 6px 0;
    width: 95%;
    margin: auto;
    background-color: white;
}

.imagen{
    background-color: blue;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    height: 130px;
    margin-top: -0px;
}

#kendrick{
    margin-top: 10px;
    border-radius: 100px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 2px;
}
.caja{  
    height: 290px;
    text-align: center;
    min-height: 12em;
    width: 25%;
    border-radius: 30px;
    box-shadow: 0 0 7px 2px black;
    background-color: white;  
}

.texto{
    background-color: white;
    height: 160px;
    margin-top: -20px;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 30px;
}

#traviss{
    margin-top: 10px;
    border-radius: 100px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 2px;
}

#kanye{
    margin-top: 10px;
    border-radius: 100px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 2px;
}

.boton{
    background-color: blue;
    color: white;
    width: 100px;
    height: 25px;
    border-radius: 10px;
}