*{
    box-sizing: border-box;
    margin: 0;
}

h1{
    background-color: darkslategray;
    color: beige;
    height: 50px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 3px 3px black;
}

.barra{
    height: 50px;
    background-color: cadetblue;
    margin-top: 5px;
    box-shadow: 0 3px 3px black;
    text-align: right;
    padding: 14px;
}

.barra span{
    color: white;
}

.barra a{
    text-decoration: none;
    margin-right: 5px;
}

.fa-solid.fa-house{
    color: bisque;
}

.fa-solid.fa-circle-info{
    color: yellow;
}

.fa-solid.fa-star{
    color: burlywood;

}

.fa-solid.fa-phone{
    color: palevioletred;
}

.menu a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 15px;
}

button{
    border: 0;
    background-color: antiquewhite;
    padding: 10px;
    box-shadow: 3px 3px 5px 3px black;
}

.contenido{
    display: none;
    background-color: antiquewhite;
    position: absolute;
    min-width: 100px;
    box-shadow: 3px 3px 5px 3px black;
}

.contenido .honda:hover{
    background-color: aqua;   
}

.contenido .toyota:hover{
    background-color: blue;
}

.menu:hover .contenido{
    display: block;
}

main{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e6/Tesla_Model_3_%282023%29_Auto_Zuerich_2023_1X7A1313.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}